@font-face {
  font-family: 'SofiaPro';
  src: url('../../assets/fonts/SofiaPro-Bold.woff2') format('woff2'),
    url('../../assets/fonts/SofiaPro-Bold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'SofiaPro';
  src: url('../../assets/fonts/SofiaPro-Regular.woff2') format('woff2'),
    url('../../assets/fonts/SofiaPro-Regular.woff2') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'SofiaPro';
  src: url('../../assets/fonts/SofiaPro-SemiBold.woff2') format('woff2'),
    url('../../assets/fonts/SofiaPro-SemiBold.woff2') format('woff');
  font-weight: 600;
}
