.carousel {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 74px 0 54px;
  width: 100%;

  @include mq('phone-wide', 'max') {
    margin: 40px 0 54px;
  }

  &__title {
    margin: 0 0 14px 0;
    color: $darker-black;
    @include font-size(14);
    font-weight: 600;
    letter-spacing: 0.2px;
  }

  &__wrapper {
    display: flex;
    width: calc(100% + 40px);
    height: 185px;
    padding: 10px 0;

    @include mq('desktop-mini', 'max') {
      width: 100%;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 325px;
    height: 160px;
    border-radius: 12px;
    background-color: $white;
    margin-right: 10px;

    @include mq('desktop-middle', 'max') {
      max-width: 385px;
    }

    @include mq('desktop', 'max') {
      max-width: 330px;
      margin: 0 20px 0 0;
    }

    @include mq('desktop-mini', 'max') {
      max-width: 348px;
    }

    @include mq('tablet', max) {
      max-width: 335px;
    }

    @include mq('tablet-intermediate', 'max') {
      max-width: 270px;
      padding-right: 20px;
    }

    @include mq('tablet-small', 'max') {
      justify-content: space-between;
      max-width: unset;
      width: 96%;
    }

    @include mq('phone-wide', 'max') {
      width: 94%;
    }

    &__left {
      position: relative;
      width: 96px;
      height: 100%;
    }

    &__image {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 96px;
      height: 170px;
    }

    &__info {
      display: flex;
      flex-direction: column;
      max-width: 192px;
      margin: 0 0 0 7px;

      @include mq('tablet-intermediate', 'max') {
        max-width: 168px;
      }

      @include mq('tablet-small', 'max') {
        margin: 0 15px 0 0;
      }

      @include mq('phone', 'max') {
        margin: 0;
      }
    }

    &__title {
      margin: 0 0 10px 0;
      color: $darker-black;
      @include font-size(14, 18);
      font-weight: 600;
      letter-spacing: 0.2px;
    }

    &__description {
      color: $medium-gray;
      @include font-size(14, 18);
      font-weight: 500;
    }

    &__redirect {
      position: absolute;
      bottom: 14px;
      right: 14px;
      width: 12px;
      height: 12px;
      background-color: $whiter-gray;
      background-image: url('../assets/svg/arrow-right.svg');
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      border-radius: 50%;
    }
  }
}
