$white: #ffffff;
$blue: #155ed4;
$open-blue: #4085e6;
$dark-white: #f5f5fa;
$darker-gray: #909099;
$darker-black: #17171a;
$medium-gray: #606066;
$light-gray: #dcdce6;
$whiter-gray: #f0f0f5;
$shade-gray: #e8e8f0;
$cherry-red: #f20028;
$light-indigo: #8066cc;
$algae-green: #26bf66;
$butterscotch: #ffb44d;
